{% extends 'users/base.html' %}
{% block content %}
   <div class="card">
      <div class="card-header">
         <div class="card-header-title">
            <h1>Firebase</h1>
         </div>
      </div>
      <div class="card-content">
         <p>
            <a href="https://firebase.google.com/?gad_source=1&gclid=Cj0KCQiAhvK8BhDfARIsABsPy4hUWfdTMxft6M4EZ3iWnyrgvETIW-_cFIBpRHQonhLQQrpcdQxh7DgaAr-uEALw_wcB&gclsrc=aw.ds" target="_blank">Firebase</a> is a comprehensive mobile and web application development platform developed by Google, designed to streamline the process of building, deploying, and scaling applications. Originally founded in 2011 and acquired by Google in 2014, Firebase offers a suite of tools that cater to various aspects of app development.
         </p>
         <br/>
         <p>
            <strong>Key Features of Firebase</strong> <br/>
            Firebase provides a wide array of features that can be categorized into several main areas:
         </p><br/>
         <ul >
            <li>. Build</li>
            <li>. Release & Monitor</li>
            <li>. Engage</li>
            <li>. Advantages of Using Firebase</li>
            <li>. Applications of Firebase</li>
         </ul>
      </div>
   </div>
   <div class="card">
      <div class="card-header">
         <div class="card-header-title">
            <h1>Django</h1>
         </div>
      </div>
      <div class="card-content">
         <p>
            <a href="https://www.djangoproject.com/" target="_blank">Django</a> provides a robust authentication system that is integral to managing user accounts, permissions, and sessions within web applications. Here's an overview of its key components and functionalities.
         </p><br/>
         <p>
            Django's authentication framework is designed to handle both authentication (verifying user identities) and authorization (determining user permissions). The core features include:
         </p><br/>
         <ul>
            <li><strong>User Accounts:</strong> Management of user accounts through a built-in User model.</li>
            <li><strong>Permissions:</strong> Binary flags that determine what actions a user can perform.</li>
            <li><strong>Groups:</strong> A way to apply permissions to multiple users collectively.</li>
            <li><strong>Password Management:</strong> A configurable password hashing system for secure storage.</li>
            <li><strong>Session Management:</strong> Mechanisms for maintaining user sessions across requests.</li>
         <ul>
      </div>
   </div>
{% endblock %}