<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
      {% if title %}
        <title>{{title}}</title>
      {% else %}
        <title>Title</title>
      {% endif %}
     <!-- Conditionally load the stylesheet based on the session theme -->
    {% if request.session.theme == 'dark' %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    {% else %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/versions/bulma-no-dark-mode.css">
    {% endif %}
  </head>
  <body>
      <nav class="navbar is-transparent">
          <div class="navbar-brand">
              {% load static %}
            <a class="navbar-item" href="{% url 'home' %}">
                {% if request.session.theme == 'dark' %}
                    <img src="{% static 'images/logo_white.png' %}"  alt="data security" />
                {% else %}
                    <img src="{% static 'images/logo_black.png' %}"  alt="data security" />
                {% endif %}
            </a>
            <div class="navbar-burger js-burger" data-target="navbarExampleTransparentExample">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

          <div id="navbarExampleTransparentExample" class="navbar-menu">

            <div class="navbar-start">
              <a class="navbar-item {% if request.path == '/' %} is-selected {% endif %}" href="{% url 'home' %}"> Home </a>
              <a class="navbar-item {% if request.path == '/about/' %} is-selected {% endif %}" href="{% url 'about' %}"> About </a>
                {% if user.is_authenticated or is_firebase_authenticated %}
              <a class="navbar-item {% if request.path == '/profile/' %} is-selected {% endif %}" href="{% url 'profile' %}"> Profile </a>
              <a class="navbar-item {% if request.path == '/security/' %} is-selected {% endif %}" href="{% url 'security' %}"> Security </a>
                {% endif %}
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
                   <!-- Button to toggle theme -->
                    <form class="control" action="{% url 'toggle_theme' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="button is-info is-small">
                            {% if request.session.theme == 'dark' %}
                                Switch to Light Mode
                            {% else %}
                                Switch to Dark Mode
                            {% endif %}
                        </button>
                    </form>
                    {% if user.is_authenticated %}
                        <form class="control" method="POST" action="{% url 'combined_logout' %}">
                            {% csrf_token %}
                            <button class="bd-tw-button button is-small" type="submit" name="auth_type" value="django">Logout</button>
                        </form>
                    {% elif is_firebase_authenticated %}
                         <form class="control" method="POST" action="{% url 'combined_logout' %}">
                            {% csrf_token %}
                            <button class="bd-tw-button button is-small" type="submit" name="auth_type" value="firebase">Firebase</button>
                        </form>
                    {% else %}
                         <p class="control">
                            <a class="bd-tw-button button is-small" data-social-action="tweet" href="{% url 'combined_login' %}" >
                              <span> Login </span>
                            </a>
                         </p>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
      </nav>

  <section class="section">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
  </section>

  <script>
      document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');
        });
      });
    });
    // Alert
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;

        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
    // JavaScript Firebase Logout
    firebase.auth().signOut().then(() => {
        console.log('Firebase user logged out');
    }).catch((error) => {
        console.error('Error logging out from Firebase:', error);
    });
  </script>
  </body>
</html>
