{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <style>
        .tab-content {display: none; /* Hide all tab content by default */}
        .tab-content.is-active {display: block; /* Show active tab content */}
    </style>
<div class="columns is-multiline is-centered">
    <div class="column is-half">
        {% if messages %}
            {% for sms in messages %}
                <div class="notification {% if sms.tags == 'success' %}is-success {% elif sms.tags == 'error' %} is-danger {% else  %} is-info {% endif %}">
                  <button class="delete"></button>
                  {{ sms }}
                </div>
            {% endfor %}
        {% endif %}
        <!-- Tabs Title -->
        <div class="tabs is-small">
          <ul>
            <li class="is-active" data-tab="tab1"><a>Django</a></li>
            <li data-tab="tab2"><a>Email/password</a></li>
            <li data-tab="tab3"><a>Smartphone</a></li>
            <li data-tab="tab4"><a>Tab4</a></li>
          </ul>
        </div>
         <!-- Tabs Content -->
        <div id="tab1" class="tab-content is-active">
            <form method="POST">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" name="username" placeholder="Enter your username" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" name="password" placeholder="Enter your password" required>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link is-small" type="submit" name="django_login">Login</button>
                    </div>
                    <div class="control">
                        <a class="button is-light is-small" href="{% url 'registration_dj'%}">Sign-up</a>
                    </div>
                </div>
            </form>
        </div>
        <div id="tab2" class="tab-content">
            <form method="POST" id="loginFormEmailPw">
                {% csrf_token %}
                <div class="field">
                  <label class="label">Email *</label>
                  <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" id="email" name="email" placeholder="Email" required>
                    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                  </p>
                </div>
                <div class="field">
                  <label class="label">Password *</label>
                  <p class="control has-icons-left">
                    <input class="input" type="password" id="password" name="password" placeholder="Password" required>
                    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                  </p>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link is-small" type="submit" name="firebase_login">Login</button>
                    </div>
                    <div class="control">
                        <a class="button is-ghost is-small" href="{% url 'password_reset'%}">Forget Password?</a>
                    </div>
                </div>
                <div class="field is-grouped">
                    <p> Do you not have an account yet?</p>
                    <a class="button is-ghost is-small" href="{% url 'register'%}">Sign-up</a>
                </div>
            </form>
        </div>
        <div id="tab3" class="tab-content">
            {% if 2 == 5 %}
                <form method="POST" id="" action="{% url 'send_otp' %}">
                    {% csrf_token %}
                    <div class="field">
                      <label class="label">Phone Number *</label>
                      <p class="control has-icons-left has-icons-right">
                        <input class="input" type="tel" name="phone_number" placeholder="Enter your phone number" required>
                        <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                      </p>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link is-small" type="submit" name="firebase_phone_number">Send OTP</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <form method="POST" action="{% url 'verify_otp' %}">
                    {% csrf_token %}
                    <div class="field">
                      <label class="label">Phone Number *</label>
                      <p class="control has-icons-left has-icons-right">
                        <input class="input" type="tel" name="phone_number" placeholder="Enter your phone number" required>
                        <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                      </p>
                    </div>
                    <div class="field">
                      <label class="label">OTP *</label>
                      <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" name="otp" placeholder="Enter OTP" required>
                        <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                      </p>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link is-small" type="submit" name="firebase_otp">Send OTP</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
        <div id="tab4" class="tab-content">
            <p>This is the content for Tab 3.</p>
        </div>
    </div>
</div>



     <script>
        // JavaScript to handle tab functionality
        const tabs = document.querySelectorAll('.tabs ul li');
        const tabContents = document.querySelectorAll('.tab-content');

        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                // Remove active class from all tabs
                tabs.forEach(t => t.classList.remove('is-active'));
                // Hide all tab contents
                tabContents.forEach(content => content.classList.remove('is-active'));

                // Add active class to clicked tab and show corresponding content
                tab.classList.add('is-active');
                const target = tab.getAttribute('data-tab');
                document.getElementById(target).classList.add('is-active');
            });
        });
    </script>
{% endblock %}