{% extends 'users/base.html' %}
{% block content %}
    {% if messages %}
        {% for sms in messages %}
            <div class="notification {% if sms.tags == 'success' %}is-success {% elif sms.tags == 'error' %} is-danger {% else  %} is-info is-light{% endif %}">
              <button class="delete"></button>
              {{ sms }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card">
        <div class="card-header">
            <div class="card-header-title">
                <h1>Django authentication rain</h1>
            </div>
        </div>
        <div class="card-content">
            <p>
                Authentication rain is a website to diversify several authentication using Django and Firebase.
            </p>
            <p>Used Technologies:</p><br/>
            <ul>
                <li>. django</li>
                <li>. firebase</li>
                <li>. render</li>
                <li>. crispy-forms</li>
                <li>. crispy-bulma</li>
            </ul>
            <br/>
            <p>
                This website aims to make various types authentication and giving tips on good data security practices.<br>
                <br/>When creating this website was thought of backend and in the authentication of Firebase Email / password not on the front end. So I hope you have a good experience on the cliete side.
            </p><br/>
            <p>Types of Authentication:</p>
            <ul>
                <li>. user / password</li>
                <li>. email / password</li>
            </ul><br/>
            <p>
                I also made the code available on <a href="https://github.com/aniceto-jolela/django-authentication-rain" target="_blank">Github</a>, for those interested in reusing one of the authentication or studying the code.
            </p>
            <p>
                If you are looking for a Django project that manages image or privacy and user privileges you can access this <a href="https://django-crud-dh2q.onrender.com/" target="_blank">link</a> | <a href="https://github.com/aniceto-jolela/django-crud" target="_blank">repository</a>;
            </p>
            <p>
                Or if you are looking for Full-Stack-Application with React / Django, go to this <a href="https://full-stack-application-two.vercel.app/" target="_blank">link</a> | <a href="https://github.com/aniceto-jolela/full-stack-application" target="_blank">github</a>
            </p>
        </div>
    </div>
{% endblock %}