{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <h1>Security</h1>
    <p>
        Data security is the practice of protecting digital information from unauthorized access, corruption or theft throughout its entire lifecycle.
    </p>
    <img src="{% static 'images/data_security.png' %}" width="500" alt="data security" />
    <div>
        <h5 class="title is-5">Smartphone</h5>
        <p>
            Allows users to log in with a telephone number, using the user authentication Firebase SDK tools and smartphone checking.
        </p>
    </div>




    {% if user.is_authenticated %}
        <div class="control">
            <a class="button is-danger is-small" href="{% url 'delete_user_confirm_dj' %}">Delete account</a>
        </div>
    {% elif is_firebase_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <div class="control">
                <button class="button is-danger is-small" type="submit" name="firebase_profile_delete">Delete account</button>
            </div>
        </form>
    {% endif %}

{% endblock %}